<div class="centered-content">
    <div class="modal-box">
        <h1 class="title" style="color: black;">
            Create a new task
        </h1>

        <input #taskTitleInput class="input has-background-light mt-5" type="text" placeholder="Enter task name..." style="color: black;">
        <div class="buttons is-right mt-3">
            <button routerLink="/" class="button is-danger has-text-white">
                Back
            </button>
            <button class="button is-primary has-text-white" (click)="createTask(taskTitleInput.value)">
                Create
            </button>
        </div>


    </div>
</div>